[submodule "vendor/gtest"]
	path = vendor/gtest
	url = https://github.com/google/googletest.git

[submodule "vendor/tinyxml2"]
	path = vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
